<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
    <nz-card [nzBordered]="false" [nzTitle]="title">
        <div nz-row [nzGutter]="16">
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>调拨单号</label></div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="billno">
                        <nz-input formControlName="billno" nzPlaceHolder="请输入调拨单号" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['billno'].invalid && (form.controls['billno'].dirty || form.controls['billno'].touched) && form.controls['billno'].errors.required">
                            请输入调拨单号
                        </p>
                        <p nz-form-explain *ngIf="form.controls['billno'].invalid && (form.controls['billno'].dirty || form.controls['billno'].touched) && form.controls['billno'].errors.minlength">
                            调拨单号不小于4位
                        </p>
                    </div>
                </div>
            </div>

            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>移出罐（车）号</label></div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="stockplace">
                            <div nz-form-control class="flex-1">
                                    <nz-select formControlName="stockplace" [nzPlaceHolder]="'移出存地'" nzAllowClear [nzDisabled]="!editable" >
                                        <nz-option
                                            *ngFor="let option of depotdata"
                                            [nzLabel]="option.depotname"
                                            [nzValue]="option.depotname"
                                            [nzDisabled]="option.disabled">
                                        </nz-option>
                                    </nz-select>
                                    </div>   
                        
                        <p nz-form-explain *ngIf="form.controls['stockplace'].invalid && (form.controls['stockplace'].dirty || form.controls['stockplace'].touched) && form.controls['stockplace'].errors.required">
                            请输入移出罐（车）号
                        </p>
                    </div>
                </div>
            </div>
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>调度</label></div>
                    <div nz-form-control nz-col [nzValidateStatus]="dispatcher">
                            <nz-input formControlName="dispatcher" nzPlaceHolder="请输入调度" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['dispatcher'].invalid && (form.controls['dispatcher'].dirty || form.controls['dispatcher'].touched) && form.controls['dispatcher'].errors.required">
                            请输入调度
                        </p>
                    </div>
                </div>
            </div>
            
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row >
                        <div nz-form-label nz-col><label>保管员</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="stockman" >
                            <nz-input formControlName="stockman" nzPlaceHolder="请输入保管员" nzSize="large" [nzDisabled]="!editable"></nz-input>
                            
                            <p nz-form-explain *ngIf="form.controls['stockman'].invalid && (form.controls['stockman'].dirty || form.controls['stockman'].touched) && form.controls['stockman'].errors.required">
                                请输入保管员
                            </p>                          

                        </div>
                    </div>
            </div>
        </div>



        <div nz-row [nzGutter]="16">
                
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>核算员</label></div>
                    <div nz-form-control nz-col [nzValidateStatus]="checker">
                            <nz-input formControlName="checker" nzPlaceHolder="请输入核算员" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['checker'].invalid && (form.controls['checker'].dirty || form.controls['checker'].touched) && form.controls['checker'].errors.required">
                            请输入核算员
                        </p>
                    </div>
                </div>
            </div>

            <div nz-col [nzMd]="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>日期</label></div>
                    <div nz-form-control nz-col >
                        
                            <div nz-form-item nz-row>
                                <div nz-form-control [nzValidateStatus]="date">
                                    <nz-datepicker style="width: 99%;" [nzSize]="'large'" formControlName="date" [nzPlaceHolder]="'日期'" nzFormat="YYYY-MM-DD" [nzDisabled]="!editable"></nz-datepicker>
                                    <p nz-form-explain *ngIf="form.controls['date'].invalid && (form.controls['date'].dirty || form.controls['date'].touched) && form.controls['date'].errors.required">
                                        请选择日期
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        

            
        </div>

    </nz-card>
    
    <nz-card [nzBordered]="false" nzTitle="油品移库明细">
        <nz-table formArrayName="details" [nzDataSource]="details.value" [nzIsPagination]="false">
            <thead nz-thead>
                <tr>
                    <th nz-th [nzWidth]="'12%'"><span>调拨单号</span></th>
                    <th nz-th [nzWidth]="'12%'"><span>移入车（罐）号</span></th>
                    <th nz-th [nzWidth]="'12%'"><span>计量单位</span></th>
                    <th nz-th [nzWidth]="'12%'"><span>泵码起数</span></th>
                    <th nz-th [nzWidth]="'12%'"><span>泵码止数</span></th>
                    <th nz-th [nzWidth]="'12%'"><span>数量</span></th>
                    <th nz-th [nzWidth]="'12%'"><span>确认人</span></th>                  
                    
                    <th nz-th *ngIf="editable" [nzWidth]="'13%'" ><span>操作</span></th>
                </tr>
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let item of details.controls; let i = index" [formGroupName]="i">

                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{details.value[i].billno1}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.billno1">
                            <nz-input formControlName="billno1" nzPlaceHolder="请输入调拨单号" nzSize="large"></nz-input>
                        </span>
                    </td>

                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{details.value[i].stockpalce}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.stockpalce">
                                <div nz-form-control class="flex-1">
                                        <nz-select formControlName="stockpalce" [nzPlaceHolder]="'移入车（罐）号'" nzSize="large"  >
                                            <nz-option
                                                *ngFor="let option of depotdata"
                                                [nzLabel]="option.depotname"
                                                [nzValue]="option.depotname"
                                                [nzDisabled]="option.disabled">
                                            </nz-option>
                                        </nz-select>
                                        </div>    
                        </span>
                    </td>

                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{details.value[i].Unit}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.Unit">
                            <nz-input formControlName="Unit" nzPlaceHolder="请输入计量单位" nzSize="large"></nz-input>
                        </span>
                    </td>

                    <td nz-td>
                            <span *ngIf="editIndex!==i">{{details.value[i].Startdegree}}</span>
                            <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.Startdegree">
                                <nz-input formControlName="Startdegree" nzPlaceHolder="请输入泵码起数" nzSize="large"></nz-input>
                            </span>
                    </td>

                        <td nz-td>
                            <span *ngIf="editIndex!==i">{{details.value[i].Enddegree}}</span>
                            <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.Enddegree">
                                <nz-input formControlName="Enddegree" nzPlaceHolder="请输入泵码止数" nzSize="large"></nz-input>
                            </span>
                        </td>
                        <td nz-td>
                            <span *ngIf="editIndex!==i">{{details.value[i].quantity}}</span>
                            <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.quantity">
                                <nz-input formControlName="quantity" nzPlaceHolder="数量"  nzSize="large" nzDisabled="true"></nz-input>
                            </span>
                        </td>
                        <td nz-td>
                                <span *ngIf="editIndex!==i">{{details.value[i].Confirmation}}</span>
                                <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.Confirmation">
                                    <nz-input formControlName="Confirmation" nzPlaceHolder="确认人" nzSize="large" ></nz-input>
                                </span>
                            </td>
                    <td nz-td *ngIf="editable">
                        <span *ngIf="editIndex!==i">
                            <a (click)="edit(i)">编辑</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm (nzOnConfirm)="del(i)" [nzTitle]="'是否要删除此行？'">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                        </span>
                        <span *ngIf="editIndex===i">
                            <a (click)="save(i)">保存</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm (nzOnConfirm)="cancel(i)" [nzTitle]="'是否要取消操作？'">
                                <a nz-popconfirm>取消</a>
                            </nz-popconfirm>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        
        <p *ngIf="editable && details.length>0 && !details.valid">
            <font size="2" color = "red">             
                注：明细中所有字段必须填写，并且“数量”、“泵码起数”与“泵码止数”需输入有效数字、且“泵码起数”小于“泵码止数”。
            </font>
        </p>
        <button *ngIf="editIndex===-1 && editable" nz-button [nzType]="'dashed'" [nzSize]="'large'" (click)="add()" class="ant-btn__block mt-md">
            <i class="anticon anticon-plus"></i>
            <span>新增明细</span>
        </button>
        
        

    </nz-card>
    <div >
        <error-collect></error-collect>
        <button nz-button [nzType]="'primary'" nzSize="large" *ngIf="editable">提交</button>
        <button nz-button [nzType]="'primary'" nzSize="large" (click)="goBack()">返回</button>
    </div>
</form>
