<nz-card [nzBordered]="false">
        <form nz-form (ngSubmit)="getData()" [nzLayout]="'inline'">
                <div nz-row [nzGutter]="24">
                    <div *ngIf="expandForm" nz-col [nzSpan]="6" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="billno">单号</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="q.billno" name="billno" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="billno"></nz-input>
                            </div>
                        </div>
                    </div>
                     <!-- <div *ngIf="expandForm" nz-col [nzSpan]="6" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="billdate">时间</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="q.billdate" name="billdate" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="billdate"></nz-input>
                            </div>
                        </div>
                    </div>  -->
                    <div *ngIf="expandForm" nz-col [nzSpan]="6" class="mb-md">
                        <div nz-form-item class="d-flex">
                        <div nz-form-label><label for="no">审核状态</label></div>
                        <div nz-form-control class="flex-1">
                        <nz-select [(ngModel)]="q.audited" name="audited" nzAllowClear>
                            <nz-option
                                *ngFor="let option of options"
                                [nzLabel]="option.label"
                                [nzValue]="option"
                                [nzDisabled]="option.disabled">
                            </nz-option>
                        </nz-select>
                        </div>
                        </div>
                    </div>
                    
                    <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                           
                                
                        <button nz-button *ngIf="expandForm" type="button" (click)="search()" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                        <!--<button nz-button *ngIf="expandForm" type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                        <a (click)="expandForm=!expandForm">
                            {{expandForm ? '收起查询' : '展开查询'}}
                            <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                        </a>
                    </div>
                    

                </div>
            </form>
    
    <div class="mb-md">
        <button nz-button (click)="add()" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
        <ng-container *ngIf="selectedRows.length > 0">
            <button nz-button [nzSize]="'large'">批量操作</button>
            <nz-dropdown [nzPlacement]="'bottomLeft'">
                <button nz-button nz-dropdown [nzSize]="'large'">
                    更多操作 <i class="anticon anticon-down"></i>
                </button>
                <ul nz-menu>
                    <li nz-menu-item (click)="remove()">删除</li>
                    <li nz-menu-item (click)="approval()">批量审批</li>
                </ul>
            </nz-dropdown>
        </ng-container>
    </div>
    <nz-table #nzTable [nzAjaxData]="data" [nzTotal]="total" [nzPageSize]="q.ps" [nzLoading]="loading"
                (nzDataChange)="dataChange($event)"
                (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>单号</span>
                     <nz-table-sort [(nzValue)]="sortMap.billno" (nzValueChange)="sort('billno',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>时间</span>
                    <nz-table-sort [(nzValue)]="sortMap.billdate" (nzValueChange)="sort('billdate',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>保管员</span>
                    <nz-table-sort [(nzValue)]="sortMap.stockman" (nzValueChange)="sort('stockman',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>核算员</span>
                    <nz-table-sort [(nzValue)]="sortMap.accountingclerk" (nzValueChange)="sort('accountingclerk',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>备注</span>
                    <nz-table-sort [(nzValue)]="sortMap.comment" (nzValueChange)="sort('comment',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>审核状态</span>
                    <nz-table-sort [(nzValue)]="sortMap.audited" (nzValueChange)="sort('audited',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>审核时间</span>
                    <nz-table-sort [(nzValue)]="sortMap.audit_time" (nzValueChange)="sort('audit_time',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>审核人</span>
                    <nz-table-sort [(nzValue)]="sortMap.audit_user" (nzValueChange)="sort('audit_user',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>创建人</span>
                    <nz-table-sort [(nzValue)]="sortMap.create_user" (nzValueChange)="sort('create_user',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作</span>
                    <nz-table-sort [(nzValue)]="sortMap.billno" (nzValueChange)="sort('billno',$event)"></nz-table-sort>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let i of nzTable.data">
                <td nz-td>{{i.billno}}</td>
                <td nz-td>{{i.billdate}}</td>
                <td nz-td>{{i.stockman}}</td>
                <td nz-td>{{i.accountingclerk}}</td>
                <td nz-td>{{i.comment}}</td>
                <td nz-td>{{i.audited | auditPipe}}</td>
                <td nz-td>{{i.audit_time}}</td>
                <td nz-td>{{i.audit_user}}</td>
                <td nz-td>{{i.create_user}}</td>
                <td nz-td *ngIf="!i.audited">
                    <a (click)="audit(i.id)">审核</a>
                    <span nz-table-divider></span>
                    <a (click)="update(i.id)">修改</a>
                    <span nz-table-divider></span>
                    <nz-popconfirm (nzOnConfirm)="delete(i.id)" [nzTitle]="'确定要删除吗？'">
                        <a nz-popconfirm>删除</a>
                    </nz-popconfirm>
                </td>
                <td nz-td *ngIf="i.audited">
                    <a (click)="show(i.id)" >查看</a> 
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
