<nz-card [nzBordered]="false">
        <form nz-form (ngSubmit)="getData()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
                    <div *ngIf="expandForm" nz-col [nzSpan]="6" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="no">单号</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="q.cno" name="cno" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="cno"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="expandForm" nz-col [nzSpan]="6" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="no">仓库</label></div>
                            <div nz-form-control class="flex-1">
                                    <nz-select [(ngModel)]="q.warehouse" name="warehouse"  [nzPlaceHolder]="'请选择仓库'" nzId="warehouse" [nzSize]="'large'">                                                 
                                            <nz-option
                                                    *ngFor="let option of depotdata" 
                                                    [nzLabel]="option.depotname"
                                                    [nzValue]="option.depotname"
                                                    [nzDisabled]="option.disabled" >
                                                </nz-option>
                                            </nz-select>       
                            </div>
                        </div>
                    </div>
                    <div *ngIf="expandForm" nz-col [nzSpan]="6" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="no">出入库类型</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="q.type" name="type" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="type"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                           
                                
                        <button nz-button *ngIf="expandForm" type="button" (click)="search()" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                        <!--<button nz-button *ngIf="expandForm" type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                        <a (click)="expandForm=!expandForm">
                            {{expandForm ? '收起查询' : '展开查询'}}
                            <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                        </a>
                    </div>
                    

                </div>
                
            </form>
    
  
 <nz-table #nzTable [nzAjaxData]="data" [nzTotal]="total" [nzPageSize]="q.ps" [nzLoading]="loading"
                (nzDataChange)="dataChange($event)"
                (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
            <tr>
                <!--<th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"
                        (ngModelChange)="checkAll($event)"></label>
                </th>-->
                <th nz-th>
                    <span>单号</span>
                    <nz-table-sort [(nzValue)]="sortMap.cno" (nzValueChange)="sort('cno',$event)"></nz-table-sort>
                </th>        
                <th nz-th>
                    <span>计算时间</span>
                    <nz-table-sort [(nzValue)]="sortMap.date" (nzValueChange)="sort('date',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>型号</span>
                    <nz-table-sort [(nzValue)]="sortMap.model" (nzValueChange)="sort('model',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>数量</span>
                    <nz-table-sort [(nzValue)]="sortMap.amount" (nzValueChange)="sort('amount',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>仓库</span>
                    <nz-table-sort [(nzValue)]="sortMap.warehouse" (nzValueChange)="sort('warehouse',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>出入库类型</span>
                    <nz-table-sort [(nzValue)]="sortMap.type" (nzValueChange)="sort('type',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>计算状态</span>
                    <nz-table-sort [(nzValue)]="sortMap.calculated" (nzValueChange)="sort('calculated',$event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>计算结果</span>
                    <nz-table-sort [(nzValue)]="sortMap.cal_status" (nzValueChange)="sort('cal_status',$event)"></nz-table-sort>
                </th>

                <!-- <th nz-th><span>操作</span></th> -->
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let i of nzTable.data">
                <!--
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked" (ngModelChange)="refreshStatus($event)">
                    </label>
                </td>-->
                <td nz-td>{{i.cno}}</td>
                <td nz-td>{{i.date}}</td>
                <td nz-td>{{i.model}}</td>
                <td nz-td>{{i.amount}}</td>
                <td nz-td>{{i.warehouse}}</td>
                <td nz-td>{{i.type}}</td>
                <td nz-td>{{i.calculated | caculatedPipe}}</td>
                 <td nz-td>{{i.cal_status | calculateStatusPipe}}</td>

                
            </tr>
        </tbody>
    </nz-table>
</nz-card>

