    <div nz-row nzGutter="16">
        <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white">
                    <div class="h2 mt0">￥123,456</div>
                    <p class="text-nowrap">1号仓库销售额 </p>
                </div>
                <div nz-col nzSpan="12">  
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white">
                    <div class="h2 mt0">￥234,567</div>
                    <p class="text-nowrap">2号仓库销售额 </p>
                </div>
                <div nz-col nzSpan="12">
                   
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white">
                    <div class="h2 mt0">￥458,778</div>
                    <p class="text-nowrap">3号仓库销售额 </p>
                </div>
                <div nz-col nzSpan="12">
                    
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-pink rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white">
                    <div class="h2 mt0">￥678,456</div>
                    <p class="text-nowrap">4号仓库销售额</p>
                </div>
                <div nz-col nzSpan="12">
                   
                </div>
            </div>
        </div>
    </div>
     <div nz-row nzGutter="16">
        <div nz-col nzXs="24" nzMd="12">
            <nz-card [nzBordered]="false">
                <ng-template #title>
                    汽运二队
                    <small class="text-sm font-weight-normal">油品库存统计</small>
                </ng-template>
                <bar
                    height="275"
                    [data]="salesData"></bar>
            </nz-card>
        </div>
        <div nz-col nzXs="24" nzMd="12">
            <nz-card [nzBordered]="false">
                <ng-template #title>
                    汽运四队
                    <small class="text-sm font-weight-normal">油品库存统计</small>
                </ng-template>
                <bar
                    height="275"
                    [data]="salesData"></bar>
            </nz-card>
        </div>
      
    </div>
    <div nz-row nzGutter="16">
            <div nz-col nzXs="24" nzMd="12">
                <nz-card [nzBordered]="false">
                    <ng-template #title>
                        汽运6队
                        <small class="text-sm font-weight-normal">油品库存统计</small>
                    </ng-template>
                    <bar
                        height="275"
                        [data]="salesData"></bar>
                </nz-card>
            </div>
            <div nz-col nzXs="24" nzMd="12">
                <nz-card [nzBordered]="false">
                    <ng-template #title>
                        红旗南路加油站
                        <small class="text-sm font-weight-normal">油品库存统计</small>
                    </ng-template>
                    <bar
                        height="275"
                        [data]="salesData"></bar>
                </nz-card>
            </div>
    </div> 
    <nz-card [nzLoading]="loading" [nzBordered]="false" nzNoPadding class="sales-card">
    <ng-template #body>
        <nz-tabset>
            <nz-tab>
                <ng-template #nzTabHeading>入库</ng-template>
                <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
                        <div class="bar">
                            <bar
                                height="295"
                                [title]="'入库量趋势'"
                                [data]="data.salesData"></bar>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab>
                <ng-template #nzTabHeading>出库</ng-template>
                <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
                        <div class="bar">
                            <bar
                                height="295"
                                [title]="'出库量趋势'"
                                [data]="data.salesData"></bar>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </ng-template>
</nz-card>
<nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{'padding': '0 0 32px'}" class="offline-card mt-lg">
    <ng-template #body>
        <nz-tabset [(nzSelectedIndex)]="_activeTab" (nzSelectChange)="_tabChange($event)">
            <nz-tab *ngFor="let tab of data.offlineData; let i = index;">
                <ng-template #nzTabHeading>
                    <div nz-row [nzGutter]="8" style="width: 138px; margin: 8px 0">
                        <div nz-col [nzSpan]="12">
                            <number-info
                                [title]="tab.name"
                                subTitle="出库率"
                                gap="2"
                                [total]="(tab.cvr * 100) + '%'"
                                [theme]="i !== _activeTab && 'light'"></number-info>
                        </div>
                        <div nz-col [nzSpan]="12" style="padding-top: 36px">
                            <pie
                                [animate]="false"
                                [color]="i !== _activeTab && '#BDE4FF'"
                                [inner]="0.55"
                                [tooltip]="false"
                                [margin]="[0, 0, 0, 0]"
                                [percent]="tab.cvr * 100"
                                [height]="64">
                            </pie>
                        </div>
                    </div>
                </ng-template>
                <div class="px-lg">
                    <timeline [data]="data.offlineChartData"
                              [titleMap]="{ y1: '出库量', y2: '入库量' }"></timeline>
                </div>
            </nz-tab>
        </nz-tabset>
    </ng-template>
</nz-card>
<div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="油品库存类别占比" [nzBodyStyle]="{'padding.px': 24}" class="sales-card" style="min-height: 482px;">
            <ng-template #extra>
                <div class="sales-card-extra">
                    <div class="sales-type-radio">
                        <nz-radio-group [(ngModel)]="salesType" (ngModelChange)="changeSaleType()" [nzSize]="'large'">
                            <label nz-radio-button [nzValue]="'all'"><span>仓库1</span></label>
                            <label nz-radio-button [nzValue]="'online'"><span>仓库2</span></label>
                            <label nz-radio-button [nzValue]="'offline'"><span>仓库3</span></label>
                        </nz-radio-group>
                    </div>
                </div>
            </ng-template>
            <ng-template #body>
                <h4 class="margin:8px 0 32px 0;">库存</h4>
                <pie
                    [hasLegend]="true"
                    subTitle="库存"
                    [height]="248"
                    [lineWidth]="4"
                    [total]="salesTotal"
                    [data]="salesPieData"
                    [valueFormat]="handlePieValueFormat">
                </pie>
            </ng-template>
        </nz-card>
    </div>
</div>
   