

<div class="quick-menu" [class.show]="quickMenu" (click)="quickMenu=!quickMenu">
    <div class="quick-menu-inner">
        <div class="settings-ctrl">
            <i class="anticon anticon-question-circle-o"></i>
        </div>
        <div class="list-group list-group-flush">
            <a (click)="msg.info('item 1')" class="list-group-item">How do i create account?</a>
            <a (click)="msg.info('item 2')" class="list-group-item">How do i create account?</a>
            <a (click)="msg.info('item 3')" class="list-group-item">How do i create account?</a>
            <a (click)="msg.info('item 4')" class="list-group-item">How do i create account?</a>
            <a (click)="msg.info('item 5')" class="list-group-item">How do i create account?</a>
        </div>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">123,456</div>
                <p class="text-nowrap">油品销售</p>
            </div>
            <div nz-col nzSpan="12">
                <mini-bar height="35" color="#fff" borderWidth="3" [margin]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">234,567K</div>
                <p class="text-nowrap">油品回灌</p>
            </div>
            <div nz-col nzSpan="12">
                <mini-bar height="35" color="#fff" borderWidth="3" [margin]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">458,778</div>
                <p class="text-nowrap">油品配送</p>
            </div>
            <div nz-col nzSpan="12">
                <mini-bar height="35" color="#fff" borderWidth="3" [margin]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-pink rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">456</div>
                <p class="text-nowrap">油品库存</p>
            </div>
            <div nz-col nzSpan="12">
                <mini-bar height="35" color="#fff" borderWidth="3" [margin]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
            </div>
        </div>
    </div>
</div>


<div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="汽运2队  油品销售统计">
            <ng-template #body>
              <div class="bar">
                            <bar
                                height="295"
                               
                                [data]="data.salesData"></bar>
                        </div>
             </ng-template>
        </nz-card>
    </div>
      <div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="汽运6队  油品回灌统计">
            <ng-template #body>
              <div class="bar">
                            <bar
                                height="295"
                                 
                                [data]="data.salesData"></bar>
                        </div>
             </ng-template>
        </nz-card>
    </div>
  <div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="汽运4队  油品配送统计">
            <ng-template #body>
              <div class="bar">
                            <bar
                                height="295"
                               
                                [data]="data.salesData"></bar>
                        </div>
             </ng-template>
        </nz-card>
    </div>
       <div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="汽运8队  油品库存统计">
            <ng-template #body>
              <div class="bar">
                            <bar
                                height="295"
                                 
                                [data]="data.salesData"></bar>
                        </div>
             </ng-template>
        </nz-card>
    </div>
<div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="线上热门搜索">
            <ng-template #extra>
                <nz-dropdown>
                    <nz-icon class="icon-group" nz-dropdown nzType="ellipsis"></nz-icon>
                    <ul nz-menu>
                        <li nz-menu-item>操作一</li>
                        <li nz-menu-item>操作二</li>
                    </ul>
                </nz-dropdown>
            </ng-template>
            <ng-template #body>
                <div nz-row [nzGutter]="64">
                    <div nz-col nzXs="24" nzSm="12" class="mb-md">
                        <number-info total="12,321" subTotal="17.1" status="up" [subTitle]="subTitle">
                            <ng-template #subTitle>
                                搜索用户数
                                <nz-tooltip [nzTitle]="'指标文案'">
                                    <nz-icon nz-tooltip nzType="info-circle-o" class="ml-sm"></nz-icon>
                                </nz-tooltip>
                            </ng-template>
                        </number-info>
                        <mini-area [line]="true" height="45" [data]="data.visitData2"></mini-area>
                    </div>
                    <div nz-col nzXs="24" nzSm="12" class="mb-md">
                        <number-info subTitle="人均搜索次数" total="2.7" subTotal="26.2" status="down"></number-info>
                        <mini-area [line]="true" height="45" [data]="data.visitData2"></mini-area>
                    </div>
                </div>
                <nz-table #keyTable [nzDataSource]="data.searchData" [nzPageSize]="5" nzSize="small">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>排名</span></th>
                            <th nz-th><span>搜索关键词</span></th>
                            <th nz-th class="text-right">
                                <span>用户数</span>
                                <nz-table-sort (nzValueChange)="sort('count',$event)"></nz-table-sort>
                            </th>
                            <th nz-th class="text-right">
                                <span>周涨幅</span>
                                <nz-table-sort (nzValueChange)="sort('range',$event)"></nz-table-sort>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let i of keyTable.data">
                            <td nz-td>{{i.index}}</td>
                            <td nz-td><a (click)="msg.success(i.keyword)">{{i.keyword}}</a></td>
                            <td nz-td class="text-right">{{i.count}}</td>
                            <td nz-td class="text-right">
                                <trend [flag]="i.status === 1 ? 'down' : 'up'">
                                    <span>{{i.range}}%</span>
                                </trend>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <nz-card [nzLoading]="loading" [nzBordered]="false" nzTitle="仓库类别占比" [nzBodyStyle]="{'padding.px': 24}" class="sales-card" style="min-height: 482px;">
            <ng-template #extra>
                <div class="sales-card-extra">
                    <nz-dropdown>
                        <nz-icon class="icon-group" nz-dropdown nzType="ellipsis"></nz-icon>
                        <ul nz-menu>
                            <li nz-menu-item>操作一</li>
                            <li nz-menu-item>操作二</li>
                        </ul>
                    </nz-dropdown>
                    <div class="sales-type-radio">
                        <nz-radio-group [(ngModel)]="salesType" (ngModelChange)="changeSaleType()" [nzSize]="'large'">
                            <label nz-radio-button [nzValue]="'all'"><span>一号仓库</span></label>
                            <label nz-radio-button [nzValue]="'online'"><span>二号仓库</span></label>
                            <label nz-radio-button [nzValue]="'offline'"><span>三号仓库</span></label>
                        </nz-radio-group>
                    </div>
                </div>
            </ng-template>
            <ng-template #body>
                <h4 class="margin:8px 0 32px 0;">仓库类别</h4>
                <pie
                    [hasLegend]="true"
                    subTitle="仓库"
                    [height]="248"
                    [lineWidth]="4"
                    [total]="salesTotal"
                    [data]="salesPieData"
                    [valueFormat]="handlePieValueFormat">
                </pie>
            </ng-template>
        </nz-card>
    </div>
</div>
<nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{'padding': '0 0 32px'}" class="offline-card mt-lg">
    <ng-template #body>
        <nz-tabset [(nzSelectedIndex)]="_activeTab" (nzSelectChange)="_tabChange($event)">
            <nz-tab *ngFor="let tab of data.offlineData; let i = index;">
                <ng-template #nzTabHeading>
                    <div nz-row [nzGutter]="8" style="width: 138px; margin: 8px 0">
                        <div nz-col [nzSpan]="12">
                            <number-info
                                [title]="tab.name"
                                subTitle="转化率"
                                gap="2"
                                [total]="(tab.cvr * 100) + '%'"
                                [theme]="i !== _activeTab && 'light'"></number-info>
                        </div>
                        <div nz-col [nzSpan]="12" style="padding-top: 36px">
                            <pie
                                [animate]="false"
                                [color]="i !== _activeTab && '#BDE4FF'"
                                [inner]="0.55"
                                [tooltip]="false"
                                [margin]="[0, 0, 0, 0]"
                                [percent]="tab.cvr * 100"
                                [height]="64">
                            </pie>
                        </div>
                    </div>
                </ng-template>
                <div class="px-lg">
                    <timeline [data]="data.offlineChartData"
                              [titleMap]="{ y1: '出库数量', y2: '入库数量' }"></timeline>
                </div>
            </nz-tab>
        </nz-tabset>
    </ng-template>
</nz-card>
  <div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18">
        <nz-card nzTitle="油品实时交易情况" [nzBordered]="false" class="mb-lg">
            <div nz-row>
                <div nz-col nzXs="24" nzSm="12" nzMd="6">
                    <number-info subTitle="今日交易总额" [total]="'124,543,233'" suffix="元"></number-info>
                </div>
                <div nz-col nzXs="24" nzSm="12" nzMd="6">
                    <number-info subTitle="油品销售目标完成率" [total]="'92%'"></number-info>
                </div>
                <div nz-col nzXs="24" nzSm="12" nzMd="6">
                    <number-info subTitle="活动剩余时间" [total]="lastTotalTime">
                        <ng-template #lastTotalTime><countdown [config]="lastTotalConfig"></countdown></ng-template>
                    </number-info>
                </div>
                <div nz-col nzXs="24" nzSm="12" nzMd="6">
                    <number-info subTitle="每秒交易总额" [total]="234" suffix="元"></number-info>
                </div>
            </div>
            <div class="map-chart">
                <nz-tooltip [nzTitle]="'等待后期实现'">
                    <img nz-tooltip src="https://gw.alipayobjects.com/zos/rmsportal/HBWnDEUXCnGnGrRfrpKa.png" alt="map" />
                </nz-tooltip>
            </div>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6">
        <nz-card nzTitle="油品销售情况预测" [nzBordered]="false" class="mb-lg">
            <div class="active-chart">
                <number-info subTitle="目标评估" total="有望达到预期"></number-info>
                <mini-area [animate]="false"
                        [line]="true"
                        [borderWidth]="2"
                        [height]="84"
                        [yAxis]="activeYAxis"
                        [data]="activeData"></mini-area>
                <ng-container *ngIf="activeData?.length > 0">
                    <div class="active-grid">
                        <p>{{activeStat.max}} 亿元</p>
                        <p>{{activeStat.min}} 亿元</p>
                    </div>
                    <div class="active-legend">
                        <span>00:00</span>
                        <span>{{activeStat.t1}}</span>
                        <span>{{activeStat.t2}}</span>
                    </div>
                </ng-container>
            </div>
        </nz-card>
        <nz-card nzTitle="券核效率" [nzBordered]="false" [nzBodyStyle]="{'text-align': 'center'}" class="mb-lg">
            <gauge [title]="'跳出率'" [height]="180" [percent]="87" [format]="couponFormat"></gauge>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzLg="12" class="mb-lg">
        <nz-card nzTitle="各油品类占比" [nzBordered]="false" class="pie-card">
            <div nz-row [nzGutter]="4" style="padding:16px 0">
                <div nz-col [nzSpan]="8">
                    <pie [animate]="false"
                         [percent]="28"
                         subTitle="汽油"
                         total="28%"
                         [height]="128"
                         [lineWidth]="2"></pie>
                </div>
                <div nz-col [nzSpan]="8">
                    <pie [animate]="false"
                         color="#5DDECF"
                         [percent]="22"
                         subTitle="柴油"
                         total="22%"
                         [height]="128"
                         [lineWidth]="2"></pie>
                </div>
                
            </div>
        </nz-card>
    </div>
   
    <div nz-col nzXs="24" nzSm="24" nzLg="12" class="mb-lg">
        <nz-card nzTitle="资源剩余" [nzBordered]="false" [nzBodyStyle]="{'overflow': 'hidden'}">
            <water-wave [title]="'补贴资金剩余'" [percent]="34" [height]="165"></water-wave>
        </nz-card>
    </div>
</div>
  

