<div class="aside-inner">
    <nz-dropdown nzTrigger="click" class="user-block clearfix">
        <div nz-dropdown class="user-block-dropdown">
            <nz-avatar class="avatar" [nzIcon]="'user'" [nzSize]="'large'"></nz-avatar>
            <div class="info">
                <strong>{{username}}</strong>
                <p class="text-truncate">{{email}}</p>
            </div>
        </div>
        <ul nz-menu>
            <li nz-menu-item (click)="msgSrv.success('profile')">{{ '个人资料' | translate }}</li>
            <li nz-menu-item (click)="msgSrv.success('settings')">{{ '修改密码' | translate }}</li>
            <li nz-menu-item (click)="logout()">{{ '登出'}}</li>
        </ul>
    </nz-dropdown>
    <app-layout-nav class="d-block py-lg"></app-layout-nav>
</div>
