<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
    <nz-card [nzBordered]="false" [nzTitle]="title">

        <div nz-row [nzGutter]="16">

            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>单号</label></div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="cno">
                        <nz-input formControlName="cno" nzPlaceHolder="请输入单号" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['cno'].invalid && (form.controls['cno'].dirty || form.controls['cno'].touched) && form.controls['cno'].errors.required">
                          单号
                        </p>                       
                    </div>    
               </div>
            </div>

            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>计算时间</label></div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="date">
                        <nz-input formControlName="date" nzPlaceHolder="请输入计算时间" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['date'].invalid && (form.controls['date'].dirty || form.controls['date'].touched) && form.controls['date'].errors.required">
                            计算时间
                        </p>
                    </div>
                </div>
            </div>
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>型号</label></div>
                    <div nz-form-control nz-col [nzValidateStatus]="model">
                            <nz-input formControlName="model" nzPlaceHolder="请输入型号" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['model'].invalid && (form.controls['model'].dirty || form.controls['model'].touched) && form.controls['model'].errors.required">
                            型号
                        </p>
                    </div>
                </div>
            </div>
             <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>数量</label></div>
                    <div nz-form-control nz-col [nzValidateStatus]="amount">
                            <nz-input formControlName="amount" nzPlaceHolder="请输入数量" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['amount'].invalid && (form.controls['amount'].dirty || form.controls['amount'].touched) && form.controls['amount'].errors.required">
                           数量
                        </p>
                    </div>
                </div>
            </div>
             <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>仓库</label></div>
                    <div nz-form-control nz-col [nzValidateStatus]="warehouse">
                            <nz-input formControlName="warehouse" nzPlaceHolder="请输入仓库" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['warehouse'].invalid && (form.controls['warehouse'].dirty || form.controls['warehouse'].touched) && form.controls['warehouse'].errors.required">
                           仓库
                        </p>
                    </div>
                </div>
            </div>
             <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col><label>出入库类型</label></div>
                    <div nz-form-control nz-col [nzValidateStatus]="type">
                            <nz-input formControlName="type" nzPlaceHolder="请输入出入库类型" nzSize="large" [nzDisabled]="!editable"></nz-input>
                        
                        <p nz-form-explain *ngIf="form.controls['type'].invalid && (form.controls['type'].dirty || form.controls['type'].touched) && form.controls['type'].errors.required">
                            出入库类型
                        </p>
                    </div>
                </div>
            </div>
            
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row >
                        <div nz-form-label nz-col><label>已计算|未计算</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="calculated" >
                            <nz-input formControlName="calculated"  nzSize="large" [nzDisabled]="!editable"></nz-input>
                            
                            <p nz-form-explain *ngIf="form.controls['calculated'].invalid && (form.controls['calculated'].dirty || form.controls['calculated'].touched) && form.controls['calculated'].errors.required">
                               已计算|未计算
                            </p>                           

                        </div>
                    </div>
            </div>
              <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row >
                        <div nz-form-label nz-col><label>计算状态</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="cal_status" >
                            <nz-input formControlName="cal_status"  nzSize="large" [nzDisabled]="!editable"></nz-input>
                            
                            <p nz-form-explain *ngIf="form.controls['cal_status'].invalid && (form.controls['cal_status'].dirty || form.controls['cal_status'].touched) && form.controls['cal_status'].errors.required">
                               计算状态
                            </p>                           

                        </div>
                    </div>
            </div>   
        </div>
    </nz-card>
    
    <div >
        <error-collect></error-collect>
        <button nz-button [nzType]="'primary'" nzSize="large" *ngIf="editable">提交</button>
        <button nz-button [nzType]="'primary'" nzSize="large" (click)="goBack()">返回</button>
    </div>
</form>
