
<pro-header>
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item *ngFor="let item of globalService.breadcrumbItems" ><a [routerLink]="[item.routerLink]">{{item.label}}</a></nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</pro-header>
<router-outlet></router-outlet>
<!-- <nz-modal [nzVisible]="true" [nzTitle]="'新建规则'" [nzConfirmLoading]="loading" [nzContent]="modalContent"
(nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
<ng-template #modalContent>
    <div nz-form-item class="d-flex">
        <div nz-form-label><label for="no">描述</label></div>
        <div nz-form-control class="flex-1">
            <nz-input [(ngModel)]="description" name="description" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="no"></nz-input>
        </div>
    </div>
</ng-template>
</nz-modal> -->
<nz-footer style="text-align: center;">
    <div nz-col [class.text-center]="true">马钢汽运公司加油站 ©2017 Powered By Ng-zorro, Angular, Phoenix.</div>
</nz-footer>
